#=================================================
# Copyright 2025 NTT Corporation
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0
#=================================================

part=xcu250-figd2104-2L-e

[hls]
clock=3ns
syn.top=nop_st

